/* styles.css - complementa Bootstrap */
:root{
  --brand-green: #197a43;
  --muted: #6c757d;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #168b47;
  color: #222;
}

/* Header tweaks */
.navbar-brand { color: var(--brand-green); font-weight: 700; }
header .container { padding-top: .5rem; padding-bottom: .5rem; }

/* Card image fix to keep aspect */
.card img, .card-img-top {
  height: 160px;
  object-fit: cover;
}

/* Small screens: more compact */
@media (max-width: 420px) {
  .card img, .card-img-top { height: 140px; }
  .display-6 { font-size: 1.2rem; }
}

/* Footer */
footer { font-size: .9rem; color: var(--muted); }


/* Parallax degradé */

.parallax-degrade {
  height: 350px;
  background:
    linear-gradient(180deg, rgba(233, 108, 108, 0.973), rgba(142,57,217,0.7)),
    url('https://www.transparenttextures.com/patterns/soft-circle-scales.png');
  background-attachment: fixed;
  background-size: cover;
}
